body {
    --title-color: #105718;
    --primary-font-color: #252525;
    --bg-color: white;

    --footer-bg-color: #151916;
    --footer-font-color: #468E44;
    --footer-strong-font-color: white;

    color: var(--primary-font-color);
    font-family: 'Maven Pro', sans-serif;
}

h1.page-title {
    color: var(--title-color);
    font-weight: 900 !important;
}

#search-form:hover #search-btn {
    animation: growingIcon 2s infinite linear;
}

#search-btn {
    height: 1.25rem;
    border: none;
    background: none;
}

#search-btn svg {
    height: 100%;
    width: 100%;
    fill: var(--title-color);
}

main {
    --bg-color: #252525;
    background-color: var(--bg-color);
}

#characters .col-12.col-md-6.col-lg-4.d-flex.justify-content-center:nth-of-type(1n) {
    animation: appear 1ms linear;
    animation-timeline: view();
    animation-fill-mode: forwards;
    transition: transform 2s;
}

.card {
    animation: floatingCard 5s infinite linear;
    transition: transform 5s;
}

#characters .col-12.col-md-6.col-lg-4.d-flex.justify-content-center:nth-child(2n) .card {
    animation-delay: .2s;
}

#characters .col-12.col-md-6.col-lg-4.d-flex.justify-content-center:nth-child(3n) .card {
    animation-delay: .5s;
}

#characters .col-12.col-md-6.col-lg-4.d-flex.justify-content-center:nth-child(4n) .card {
    animation-delay: .7s;
}

.card-body {
    --bs-border-color: #4b9b55;
}

.status {
    display: flex;
    align-items: center;
    gap: .3em;
}

.indicator {
    height: .6em;
    width: .6em;
    border-radius: 100%;
}

.indicator.dead {
    background-color: #CF4848;
}

.indicator.alive {
    background-color: #5BCF48;
}

.indicator.unknown {
    background-color: #7a7a7a;
}

.page-link {
    --bs-pagination-color: #0bc921;
    --bs-pagination-hover-color: white;
    transition: all 300ms;
}

.page-link.next-page,
.page-link.previous-page {
    --bs-pagination-bg: white;
    --bs-pagination-color: var(--bg-color);
    --bs-pagination-hover-color: #0cb921;
}

.page-item.disabled {
    --bs-pagination-disabled-bg: transparent;
}
.page-item.disabled .page-link {
    color: white;
}

footer {
    background-color: var(--footer-bg-color);
}

footer small {
    color: var(--footer-font-color);
}

footer small :is(span, a) {
    color: #fff;
}

@keyframes growingIcon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes floatingCard {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes appear {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    30%,
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.neon-line {
    --neon-line-color: #0bc921;
    --neon-line-shadow: 0px 0px 50px 5px var(--neon-line-color);

    display: block;
    position: absolute;
    box-shadow: var(--neon-line-shadow);
    -moz-box-shadow: var(--neon-line-shadow);
    -webkit-box-shadow: var(--neon-line-shadow);
}

.card-body .neon-line:nth-of-type(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--neon-line-color));
    animation: neon-line-animation-top 2s linear infinite;
}


@keyframes neon-line-animation-top {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.card-body .neon-line:nth-of-type(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--neon-line-color));
    animation: neon-line-animation-right 2s linear infinite;
    animation-delay: .5s;
}

@keyframes neon-line-animation-right {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.card-body .neon-line:nth-of-type(3) {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--neon-line-color));
    animation: neon-line-animation-bottom 2s linear infinite;
    animation-delay: 1s;
}

@keyframes neon-line-animation-bottom {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.card-body .neon-line:nth-of-type(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--neon-line-color));
    animation: neon-line-animation-left 2s linear infinite;
    animation-delay: 1.5s;
}

@keyframes neon-line-animation-left {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}